.App {
  text-align: center;
  background-color: #fff;
  color: black;
  min-height: 100vh;
}

.header {
  background-color: grey;
  padding: 8px;

}

.footer{
  background-color: blue;
}

.h1{
  margin: 0;
}

.main{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 14px;
 
}

.movie {
  background-color: rgb(164, 162, 162);
  color: black;
  border: 1px solid grey;
  padding: 3px;
  font-weight: bold;
  text-align: start;
  width: 22%;
  margin-top: 14px;
}

.movie img {
  width: 220%;
  height: 150px;
}